<section class="services">
  <div class="services__cards">
    <div class="services__card services__card_type_center">
      <div class="services__card-title">Services</div>
    </div>
    <div class="services__card services__card_type_bottom">
      <div class="services__card-title">Services</div>
    </div>
    <div class="services__card services__card_type_top">
      <div class="services__card-title">Services</div>
    </div>
    <div class="services__card services__card_type_left">
      <div class="services__card-title">Services</div>
    </div>
    <div class="services__card services__card_type_right">
      <div class="services__card-title">Services</div>
    </div>
    <div class="services__card services__card_type_top_right">
      <div class="services__card-title">Services</div>
    </div>
  </div>
</section>
