<header class="header">
  <div class="header__container">
    <div class="header__logo">LOGO</div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a routerLink="#" class="header__link">link1</a></li>
        <li class="header__item"><a routerLink="#" class="header__link">link2</a></li>
        <li class="header__item"><a routerLink="#" class="header__link">link3</a></li>
        <li class="header__item"><a routerLink="#" class="header__link">link4</a></li>
      </ul>
    </nav>
  </div>
</header>
