.twitter-feed {
  width: 100%;
  max-width: 1200px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;

  &__card {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    padding: 1rem;
    background-color: #d9d9d9;
  }

  &__title {
    font-size: 1.5rem;
    color: #afafaf;

    @media (min-width: 992px) {
      font-size: 2.5rem;
    }
  }
}
