.hero-slider {
  width: 100%;
  margin-bottom: 4rem;

  &__viewport {
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 4rem 0.8rem;
    margin-right: auto;
    margin-left: auto;
  }

  &__text-block {
    width: 100%;
    margin-bottom: 1rem;

    @media (min-width: 992px) {
      width: 40%;
      padding-right: 5rem;
      margin-bottom: 0;
    }
  }

  &__image-block {
    width: 100%;

    @media (min-width: 992px) {
      width: 60%;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    color: #9f9f9f;

    @media (min-width: 992px) {
      font-size: 6rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    color: #acacac;
    line-height: 1;

    @media (min-width: 992px) {
      font-size: 2.5rem;
    }
  }

  &__img {
    background-color: #9f9f9f;
    width: 100%;
    height: 350px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  &__navigation-list {
    display: flex;
    gap: 2rem;

    @media (min-width: 992px) {
      gap: 3rem;
    }
  }

  &__navigation-item {
    width: 1rem;
    height: 1rem;
    background-color: #d9d9d9;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #3b3c3d;
    }

    @media (min-width: 992px) {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
