<div class="hero-slider">
  <div class="hero-slider__viewport">
    <div class="hero-slider__slide">
      <div class="hero-slider__content">
        <div class="hero-slider__text-block">
          <div class="hero-slider__title">Intro</div>
          <div class="hero-slider__subtitle">Some introduction lines about the website or company</div>
        </div>
        <div class="hero-slider__image-block">
          <div class="hero-slider__img"></div>
        </div>
      </div>
    </div>
    <div class="hero-slider__navigation">
      <div class="hero-slider__navigation-list">
        <div class="hero-slider__navigation-item">
          <div class="hero-slider__navigation-button"></div>
        </div>
        <div class="hero-slider__navigation-item">
          <div class="hero-slider__navigation-button"></div>
        </div>
        <div class="hero-slider__navigation-item">
          <div class="hero-slider__navigation-button"></div>
        </div>
        <div class="hero-slider__navigation-item">
          <div class="hero-slider__navigation-button"></div>
        </div>
      </div>
    </div>
  </div>
</div>
